<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Escolaridad</title>

   <% include parciales/head%>
</head>

<body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Inicio Curriculum
         <img class="animated bounce" src="/img/flechaizquierda.png" height="20px" width="20px" alt="">
         volver
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
         aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
   </nav>

   <div class="container mx-auto " style="margin-top: 20px">
      <iframe src="/img/ReporteEscolaridad-DOC3965056(1791733).pdf" frameborder="0" width="855" height="550"
         marginheight="0" marginwidth="0" id="pdf"></iframe>
   </div>

   <!-- <% include parciales/footer %> -->
   <hr>
   <%include parciales/footer%>
</body>

</html>